/*Variables de colores*/
:root{
  --transparente:rgba(0, 0, 0, 0);
  --mrnegro: black;
  --negrod: rgba(0, 0, 0, 0.334);
  --azul: rgba(0, 0, 255, 0.839);
  --rojo: red;
  --amarillo:yellow;
  --naranja: orange;
  --verde:green;
  --purpura:purple;
  --rosado: rgb(255, 105, 130);
  --blanco: white;
  --agua-marina:rgb(45, 255, 185);
  --gris: rgb(202, 202, 202);
  --violeta: rgb(244, 54, 244);
}

/*Estilos barra de navegación oficial*/
*
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.barra{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--azul);
  padding: 15px;
}

.barra a{
  text-decoration: none;
  color: inherit;
}

.logo{
  margin-right: 50px;
}

.enlaces{
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler, .barra label{
  display: none;
} 

@media  screen and (max-width: 600px) {
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .enlaces{
    flex-direction: column;
    align-items: centrer;
    padding: 20px;
  }
  .barra label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu{
    max-height: 100%;
  }
}
/*Final de estilos barra de navegación*/

/*Contenedor de información*/
.contenedor {
  width: 250px;
  height: 250px;
  float: left;
  background-color: rgba(0, 0, 0, 0.721);
  margin-top: 2em;
  margin-left: 1em;    
  box-shadow: 3px 3px 8px 2px #000000a3;
  border-radius: 15px;
}

.caja{
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.caja  .cara{
  width: 250px;
  height: 250px;
  transition: 2s;
  border-radius: 15px;
}

.caja  .cara.cara1{
  position: relative;
  background-color: var(--mrnegro);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}

.caja  .cara.cara1 .contenido{
  opacity: 0.85;
  transition: 2s;
  text-align: center;
}

.caja .cara.cara1:hover{
  opacity: 0;
  transition: 1s;
}

.caja  .cara.cara1 .contenido i{
  font-size: 4em;
  color: var(--rosado);
  display: inline-block;
  margin: 0%;
}

.caja  .cara.cara1 .contenido h3{
  font-size: 2em;
  color: var(--blanco);
  text-align: center;
  margin: 0%;
}

.caja  .cara.cara2{
  position: relative;
  background-color:var(--blanco);
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 68%) 5px 5px 9px 3px;
  transform: translateY(-250px);
}

/*Final de contenedor de información*/

/*Fantasma animado*/
.fantasma{
  width: 190px;
  margin: 0 auto;
  position: relative;
  display: block;
  animation: fantasma 4s infinite;
}

@keyframes fantasma {
  0% {
    transform: translateY(0) rotate(360deg);
  }
  15%{
    transform: translateY(20px);
  }
  30% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(50deg);
  }
  100% {
    transform: translateY(20px);
  }
}
/*Fin de fantasma animado*/


/*Animación cuadrado*/
.cuadro{
  border-radius: 3px;
  width: 40px;
  height: 40px;
  animation: cuadro 7s infinite;
  animation-delay: 2s;
  position: relative;
}

@keyframes cuadro{
  0%{
    background-color:var(--rojo);
    left: -90px;
    top: -90px;
  }
  25%{
    background-color: var(--azul);
    left: 90px;
    top: -90px;
  }
  50%{
    background-color:var(--naranja);
    left: 90px;
    top: 90px;
  }
  75%{
    background-color: var(--purpura);
    left: -90px;
    top: 90px;
  }
  100%{
    background-color: var(--verde);
    left: -90px;
    top: -90px;
  }
}
/*Fin animación cuadrado*/


/*Circulo animado*/
.circulo{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: var(--rosado) ;
  animation: circulo 5s infinite;
}

@keyframes circulo {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.4);
  }
  50%{
    transform: scale(1.2);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scale(.6);
  }  
}
/*Final de circulo animado*/

/*Circulo con diferente aimación*/
.circulo2{
  width: 70px;
  height: 70px;
  background-color: var(--purpura);
  border-radius: 50%;
  animation: circulo2 1.2s infinite linear forwards;
}

@keyframes circulo2 {
  to{
    transform: scale(2);
    opacity: 0;
  }
}
/*Final circulo con diferente animacion*/

/*Tres circulos animados*/
.contenidoint{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoint .circulos{
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid var(--transparente);
  border-top: 4px solid var(--agua-marina);
  margin: -28px;
  animation: circulos 4s linear infinite;
}

@keyframes circulos {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.contenidoint .circulos::before{
  content: '';
  top: 7px;
  right: 10px;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #24ecff;
  box-shadow: 0 0 0 4px #24ecff33,
  0 0 0 8px #24ecff22,
  0 0 0 15px #243cff11,
  0 0 20px #24ecff,
  0 0 25px #24ecff;
}

.circulos:nth-child(2){
  animation: circulos2 4s linear infinite;
  border-top: 4px solid var(--transparente);
  border-left: 4px solid #93ff2d;
  animation-delay: -1s;
}

@keyframes circulos2 {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
  
}

.contenidoint .circulos:nth-child(2)::before{
  content: '';
  position: absolute;
  top: initial;
  bottom: 7px;
  left: 10px;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #93ff2d;
  box-shadow: 0 0 0 4px #93ff2d33,
  0 0 0 8px #93ff2d22,
  0 0 0 15px #93ff2d11,
  0 0 20px #93ff2d,
  0 0 25px #93ff2d;
}

.circulos:nth-child(3){
  animation: circulos2 4s linear infinite;
  animation-delay:  -3s;
  position: absolute;
  top: -45px;
  border-top: 4px solid var(--transparente);
  border-left: 4px solid #e41cf8;
}

.contenidoint .circulos:nth-child(3)::before{
  content: '';
  position: absolute;
  top: initial;
  bottom: 7px;
  left: 10px;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #e41cf8;
  box-shadow: 0 0 0 4px #e41cf833,
  0 0 0 8px #e41cf822,
  0 0 0 15px #e41cf811,
  0 0 20px #e41cf8,
  0 0 25px #e41cf8;
}

.contenidoint p{
  position: absolute;
  color: var(--blanco);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  bottom: -60px;
  letter-spacing: 1px;
}
/*Final tres circulos animados*/

/*Botones animados*/
.boton1:nth-child(1){
  min-width: 105px;
  height: 36px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #f7f7f7;
  color: #ffffff;
  background-color: var(--transparente);
  transition: all 5ms ease-in-out;
  margin-top: 1em;
}

.boton1:nth-child(1):hover{
  transform: scale(1);
  background-color: var(--mrnegro);
  color: var(--blanco);
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--blanco);
  letter-spacing: 2px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.boton1:nth-child(2){
  min-width: 105px;
  height: 36px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #f7f7f7;
  color: #ffffff;
  background-color: var(--transparente);
  transition: all 1s ease-in-out;
  margin-top: 1em;
  margin-left: 1em;

}

.boton1:nth-child(2):hover{
  transform: scale(1);
  background-color: var(--mrnegro);
  color: var(--blanco);
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--blanco);
  letter-spacing: 2px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.boton1:active{
  transform: scale(1.5);
}

.boton2{
  position: relative;
  width: 50px;
  top: 2em;
  left: -60px;
  height: 50px;
  background-color: var(--naranja);
  transition: .2s;
  transform: translate(0, 0) rotatey(0) skewy(0);
  transition: .2s;
}

.boton2:hover{
  transform: translate(-15px, -5px) rotatey(-15deg) skewy(-10deg); 
}

.boton2 i{
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mrnegro);
  z-index: 10;
  transition: .2s;
}

.boton2:hover i{
  color: var(--naranja);
  font-size: 30px;
}

.boton2 span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .2s;
  transform: translate(0, 0);
}

.boton2 span:nth-child(4){
  transform: translate(-4px, -4px);
  transition: .2s;
  z-index: 0;
  opacity: .5;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.boton2:hover span:nth-child(1){
  transform: translate(8px, 4px);
  background-color:#e0b48d;
}

.boton2:hover span:nth-child(2){
  transform: translate(16px, 8px);
  background-color: #bd9260;
}

.boton2:hover span:nth-child(3){
  transform: translate(24px, 12px);
  background-color: #946338;
}

.boton2 span:nth-child(4)::before{
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--blanco);
  transition: .2s;
}

.boton2 span:nth-child(4)::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  border-right: 1px solid var(--blanco);
  transition: .2s;
}

.boton2:hover span:nth-child(4)::before{
  width: 100%;
  transition-delay: .4s;
}

.boton2:hover span:nth-child(4)::after{
  height: 100%;
  transition-delay: .6s;
  top: 0;
}

.boton2:hover span:nth-child(4){
  transform: translate(30px, 16px);
  transition-delay: .2s;
}
/*final botones animados*/

/*Cubo animado*/
.cubo{
  position: relative;
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: cubo 4s linear infinite;
}

@keyframes cubo {
  0%{
    transform: rotateX(-30px) rotateY(0deg);
  }
  100%{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cubo div{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cubo div span{
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1f1f1f, blue);
  transform: rotateY(calc(90deg * var(--i))) translateZ(59px);
}

.superior{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: #1f1f1f;
  transform: rotateX(90deg) translateZ(69px);
}

.superior::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: var(--azul);
  transform: translateZ(-150px);
  filter: blur(20px);
  box-shadow: 0 0 40px rgb(168, 194, 255);
}
/*final de cubo animado*/
